* {
    list-style: none;
    box-sizing: border-box;
    margin: none;
    padding: none;
}

a {
    text-decoration: none;
    color: blue;
    transition: all .3s;
}

a:hover {
    color: rgb(182, 222, 255);
    transition: all .1s;
}