.title {
    width: 30vw;
    display: inline-block;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 1000;
    color: cyan;
    text-shadow: 5px 3px 1px rgba(0, 0, 0, 0.404);
    margin-left: 3vw;
    padding: 7px 15px;
    background:
        linear-gradient(black, darkslategrey 0%) padding-box,
        linear-gradient(8deg, cyan 0%, darkslategrey 35%) border-box;
    border-radius: 15px;
    border: 1px solid transparent;
}

.form label {
    display: block;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.menu a {
    background-color: deepskyblue;
    width: 10%;
    border-radius: 5px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 1000;
    /* border: solid black 2px; */
    box-shadow: 
    2px 2px 1px rgba(0, 0, 0, 0.459),
    2px 2px 3px rgba(255, 255, 255, 0.644) inset,
    -2px -2px 3px rgba(0, 0, 0, 0.459) inset;
}

.menu a:hover {
    background-color: rgb(0, 84, 112);
    box-shadow: 
    2px 2px 1px rgba(0, 0, 0, 0.459),
    2px 2px 3px rgba(0, 0, 0, 0.459) inset,
    -2px -2px 3px rgba(255, 255, 255, 0.205) inset;
}

body {
    background-color: darkslategrey;
}