{% extends "base.html.twig" %}
{% block title %}Ajout Réservation
{% endblock %}
{% block body %}
<h2 class="title">Ajouter une réservation</h2>
{{ include('front/template_parts/_menu.html.twig') }}
<div class="form">
    {{ form_start(addResForm) }}
    {{ form_end(addResForm) }}
</div>
{% endblock %}
