{% extends "base.html.twig" %}
    {% block title %}Ajout Utilisateur
    {% endblock %}
    {% block body %}
        <h2 class="title">Ajouter un utilisateur</h2>
        {{ include('front/template_parts/_menu.html.twig') }}
        <div class="form">
            {{ form_start(form) }}
    
            <div>{{ form_row(form.firstname) }}</div>
            <div>{{ form_row(form.lastname) }}</div>
            <div>{{ form_row(form.adult) }}</div>
            <div>{{ form_row(form.owner) }}</div>

            {{ form_end(form) }}
        </div>
    {% endblock %}
    