{% extends "base.html.twig" %}
{% block title %}Ajout Contact
{% endblock %}
{% block body %}
	<h2 class="title">Ajouter un contact</h2>
	{{ include('front/template_parts/_menu.html.twig') }}
	<div class="form">
		{{ form_start(form) }}

		<div>{{ form_row(form.city) }}</div>
		<div>{{ form_row(form.street) }}</div>
		<div>{{ form_row(form.email) }}</div>
		<div>{{ form_row(form.phone) }}</div>

		{{ form_end(form) }}
	</div>
{% endblock %}
