<nav>
    <ul class="menu">
        <li><a href="/">Accueil</a></li>
        <li><a href="/about">A propos</a></li>
        <li><a href="/rentals">Locations</a></li>
        <li><a href="/addOwner">+ prop</a></li>
        <li><a href="/addRental">+ loc</a></li>
    </ul>
</nav>