<nav>
    <ul class="menu">
        <li><a href="/">Accueil</a></li>
        <li><a href="/about">A propos</a></li>
        <li><a href="/rentals">Locations</a></li>
        <li><a href="/addRes">Réserver</a></li>
        <li><a href="/login">Admin</a></li>
    </ul>
</nav>