{% extends 'base.html.twig' %}

{% block title %}C.E.V. - A propos{% endblock %}

{% block body %}
	<h2 class="title">A propos</h2>
    {{ include('front/template_parts/_menu.html.twig') }}
{% endblock %}
