{% extends "base.html.twig" %}

{% block title %}C.E.V. - Accueil{% endblock %}

{% block body %}
	<h2 class="title">Accueil</h2>
   {{ include('front/template_parts/_menu.html.twig') }}


{% endblock %}
