{% extends "base.html.twig" %}
{% block title %}Connexion administrateur
{% endblock %}
{% block body %}

    <h2 class="title">Connexion administrateur</h2>
    {{ include('front/template_parts/_menu.html.twig') }}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey }}</div>
    {% endif %}
    
    <form action="{{ path('login') }}" method="post" class="form">
        <div>
            <label for="username">Identifiant</label>
            <input type="text" name="_username" id="username" value="{{ lastIdent }}">
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input type="password" name="_password" id="password">
        </div>
        <div>
            <button type="submit">Connexion</button>
            <a href="{{ path('app_home') }}">Annuler</a>
        </div>
    </form>

{% endblock %}
