{% extends "base.html.twig" %}

{% block title %}C.E.V. - Locations{% endblock %}

{% block body %}
	<h2 class="title">Locations</h2>
   {{ include('front/template_parts/_menu.html.twig') }}


{% endblock %}
